input[type="text"]::-ms-clear {
  display: none; }

.nex-input {
  position: relative;
  display: inline-block;
  padding: 0 7px;
  width: 100%;
  height: 28px;
  line-height: 26px;
  cursor: text;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  background-image: none;
  border-radius: 2px;
  transition: all .3s;
  border-width: 1px;
  border-style: solid;
  border-color: #c1c1c1 #d9d9d9 #d9d9d9; }
  .nex-input::-moz-placeholder {
    color: #ccc;
    opacity: 1; }
  .nex-input:-ms-input-placeholder {
    color: #ccc; }
  .nex-input::-webkit-input-placeholder {
    color: #ccc; }

.nex-input:focus,
.nex-input:hover {
  border-color: #49a9ee; }

.nex-input:focus {
  outline: 0; }

.nex-input[disabled] {
  /*
	background-color:#f7f7f7;
	opacity:1;
	cursor:not-allowed;
	color:rgba(0,0,0,.25);
	*/
  opacity: .5;
  cursor: default; }

.nex-input[disabled]:hover {
  border-color: #c1c1c1 #d9d9d9 #d9d9d9; }

textarea.nex-input {
  min-width: 80px;
  width: 100%;
  height: 100%;
  vertical-align: bottom; }

.nex-input-lg {
  height: 32px;
  line-height: 30px; }

.nex-input-sm {
  height: 22px;
  line-height: 20px; }

.nex-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle; }
  .nex-input-wrapper textarea {
    resize: none; }
  .nex-input-wrapper textarea.nex-input-autosize {
    resize: both; }
  .nex-input-wrapper.nex-input-wrapper-block {
    display: block; }
  .nex-input-wrapper:hover .nex-input {
    border-color: #49a9ee; }
  .nex-input-wrapper .nex-input-prefix,
  .nex-input-wrapper .nex-input-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; }
  .nex-input-wrapper .nex-input-prefix {
    left: 7px; }
  .nex-input-wrapper .nex-input-suffix {
    right: 7px; }
  .nex-input-wrapper .nex-input:not(:last-child) {
    padding-right: 24px;
    z-index: 1; }
  .nex-input-wrapper .nex-input:not(:first-child) {
    padding-left: 24px;
    z-index: 1; }

.nex-input-group {
  position: relative;
  display: inline-block;
  width: 100%; }
  .nex-input-group > * {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: none;
    z-index: 1;
    width: auto; }
  .nex-input-group > *:focus,
  .nex-input-group > *:hover {
    z-index: 2; }
  .nex-input-group > *:not(:first-child) {
    margin-left: -1px; }
  .nex-input-group > *:not(:first-child):not(:last-child) .nex-input {
    border-radius: 0; }
  .nex-input-group > *:first-child {
    margin-left: 0; }
  .nex-input-group > *:first-child:not(:last-child) .nex-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .nex-input-group > *:last-child:not(:first-child) .nex-input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }

.nex-input-group-lg .nex-input {
  padding: 0 7px;
  height: 32px;
  line-height: 30px; }

.nex-input-group-sm .nex-input {
  padding: 0 7px;
  height: 22px;
  line-height: 20px; }
