.nex-popup-root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }

.nex-popup {
  position: absolute;
  left: -99999px;
  top: -99999px;
  outline: 0; }

.nex-popup-fixed {
  position: fixed; }
  .nex-popup-fixed + .nex-popup-mask {
    position: fixed; }

.nex-popup-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.1; }
