@charset "UTF-8";
.nex-radio {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle; }
  .nex-radio:hover .nex-radio-inner,
  .nex-radio-input:focus + .nex-radio-inner {
    border-color: #108ee9; }
  .nex-radio-inner {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-style: solid;
    border-radius: 14px;
    border-color: #bbb;
    background-color: #ffffff;
    vertical-align: middle; }
    .nex-radio-inner:after {
      position: absolute;
      left: 3px;
      top: 3px;
      border-radius: 4px;
      display: table;
      width: 6px;
      height: 6px;
      content: ' ';
      background-color: #108ee9;
      opacity: 0; }
  .nex-radio-input {
    position: absolute;
    left: 0;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0; }

/* 选中状态 */
.nex-radio-checked .nex-radio-inner {
  border-color: #108ee9; }
  .nex-radio-checked .nex-radio-inner:after {
    opacity: 1; }

.nex-radio-disabled.nex-radio-checked:hover .nex-radio-inner {
  border-color: #d9d9d9; }

.nex-radio-disabled.nex-radio-checked .nex-radio-inner {
  background-color: #f3f3f3;
  border-color: #d9d9d9; }
  .nex-radio-disabled.nex-radio-checked .nex-radio-inner:after {
    background-color: #cccccc; }

.nex-radio-disabled:hover .nex-radio-inner {
  border-color: #d9d9d9; }

.nex-radio-disabled .nex-radio-inner {
  border-color: #d9d9d9;
  background-color: #f3f3f3; }
  .nex-radio-disabled .nex-radio-inner:after {
    border-color: #f3f3f3; }

.nex-radio-disabled .nex-radio-inner-input {
  cursor: default; }

.nex-radio-wrapper {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle; }
  .nex-radio-wrapper .nex-radio-label {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; }

.nex-radio-wrapper:not(:last-child) {
  margin-right: 8px; }

.nex-radio-disabled + .nex-radio-label {
  color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed; }

.nex-radio-group {
  display: inline-block;
  font-size: 12px; }
