.nex-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 3px 7px;
  width: 100%;
  height: 26px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  vertical-align: middle; }
  .nex-select.nex-select-inline {
    width: auto; }

.nex-select-dropdown-root {
  position: absolute;
  left: 0;
  top: 0; }

.nex-select-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 14px;
  max-width: 100%; }

.nex-select-arrow {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  top: 50%;
  margin-top: -6px;
  right: 7px; }

.nex-select:focus,
.nex-select:hover {
  border-color: #49a9ee; }

.nex-select:focus {
  outline: 0; }

.nex-select-disabled,
.nex-select[disabled] {
  background-color: #f7f7f7;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25); }
  .nex-select-disabled:hover, .nex-select-disabled:focus,
  .nex-select[disabled]:hover,
  .nex-select[disabled]:focus {
    border-color: #e2e2e2; }

.nex-select-lg {
  padding: 6px 7px;
  height: 30px; }

.nex-select-sm {
  padding: 1px 7px;
  height: 22px; }

.nex-select-dropdown {
  box-shadow: 1px 1px 3px #d1d1d1;
  border: 1px solid #26A0DA;
  background: #FFF;
  overflow: auto; }
  .nex-select-dropdown .nex-select-dropdown-body > .nex-select-item {
    list-style: none;
    padding: 0 5px;
    cursor: pointer;
    line-height: 26px;
    height: 26px;
    white-space: nowrap;
    overflow: hidden; }
    .nex-select-dropdown .nex-select-dropdown-body > .nex-select-item:hover {
      background: #30bde0;
      color: #FFF; }
  .nex-select-dropdown .nex-select-dropdown-body > .nex-select-item-selected {
    background: #30bde0;
    color: #FFF; }
  .nex-select-dropdown .nex-select-dropdown-body > .nex-select-item-disabled {
    opacity: .5;
    cursor: default; }
    .nex-select-dropdown .nex-select-dropdown-body > .nex-select-item-disabled:hover {
      background: none;
      color: rgba(0, 0, 0, 0.25); }
